<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Pert</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href='/all-students'>See All Students</a>
      </li>
      <li>
        <a href='/new'>Create</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
