<%@students.each do |student| %>
<%house = student.find_house%>
<p class='label'>Name:<%=student.pretty_print%></p>
<p class='label'>Age:<%=student.age%></p>
<p class='label'>House:<%=house.house_name%></p>
<img src='<%=house.house_img%>' alt='house-crest' class='crest'></p>
<hr/>
<% end %>
